openapi: 3.1.0
info:
  title: mabl Applications Credentials API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Credentials
paths:
  /credentials:
    get:
      tags:
      - Credentials
      summary: Query credentials
      operationId: queryCredentials
      responses:
        '200':
          description: Credentials
    post:
      tags:
      - Credentials
      summary: Create credentials
      operationId: createCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /credentials/{id}:
    get:
      tags:
      - Credentials
      summary: Retrieve credentials by ID
      operationId: getCredentials
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credentials
    put:
      tags:
      - Credentials
      summary: Update existing credentials
      operationId: updateCredentials
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Credentials
      summary: Remove credentials
      operationId: removeCredentials
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
