openapi: 3.1.0
info:
  title: mabl Applications Issues API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Issues
paths:
  /issues:
    get:
      tags:
      - Issues
      summary: Query workspace issues
      operationId: queryIssuesByWorkspaceId
      responses:
        '200':
          description: Issues
    post:
      tags:
      - Issues
      summary: Create issue
      operationId: createIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /issues/{id}:
    get:
      tags:
      - Issues
      summary: Get issue
      operationId: getIssue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Issue
    put:
      tags:
      - Issues
      summary: Update issue
      operationId: updateIssue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Issues
      summary: Remove issue
      operationId: removeIssue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
