openapi: 3.1.0
info:
  title: mabl Applications Database Connections API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Database Connections
paths:
  /database-connections:
    get:
      tags:
      - Database Connections
      summary: Get database connections by workspace
      operationId: queryDatabaseConnections
      responses:
        '200':
          description: Database connections
    post:
      tags:
      - Database Connections
      summary: Create database connection
      operationId: createDatabaseConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /database-connections/{id}:
    get:
      tags:
      - Database Connections
      summary: Get database connection
      operationId: getDatabaseConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Database connection
    put:
      tags:
      - Database Connections
      summary: Update database connection
      operationId: updateDatabaseConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Database Connections
      summary: Remove database connection
      operationId: deleteDatabaseConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
