openapi: 3.1.0
info:
  title: mabl Applications Environments API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Environments
paths:
  /environments:
    get:
      tags:
      - Environments
      summary: Get environments by workspace
      operationId: queryEnvironments
      responses:
        '200':
          description: Environments
    post:
      tags:
      - Environments
      summary: Create environment
      operationId: createEnvironment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /environments/{id}:
    get:
      tags:
      - Environments
      summary: Get environment by ID
      operationId: getEnvironment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment
    put:
      tags:
      - Environments
      summary: Update environment
      operationId: updateEnvironment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Environments
      summary: Remove environment
      operationId: removeEnvironment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
