openapi: 3.1.0
info:
  title: mabl Applications Flows API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Flows
paths:
  /flows/{id}:
    get:
      tags:
      - Flows
      summary: Get flow metadata
      operationId: getFlowMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Flow metadata
    put:
      tags:
      - Flows
      summary: Update flow metadata
      operationId: updateFlowMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
