openapi: 3.1.0
info:
  title: mabl Applications API
  description: The mabl REST API enables programmatic management of resources in a mabl workspace including applications, credentials, database connections, DataTables, environments, deployment events, flows, issues, Link agents, mailboxes, plans, tests, test runs, users, and reporting. Authentication uses HTTP Basic with the literal username "key" and a workspace-scoped API key as the password.
  version: 1.0.0
  contact:
    name: mabl
    url: https://api.help.mabl.com/reference
servers:
- url: https://api.mabl.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Applications
paths:
  /applications:
    get:
      tags:
      - Applications
      summary: Get applications by workspace
      operationId: queryApplications
      parameters:
      - name: workspace_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Applications
    post:
      tags:
      - Applications
      summary: Create application
      operationId: createApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /applications/{id}:
    get:
      tags:
      - Applications
      summary: Get application by ID
      operationId: getApplication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Application
    put:
      tags:
      - Applications
      summary: Update an existing application
      operationId: updateApplication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Applications
      summary: Remove application
      operationId: removeApplication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username "key" and a mabl API key as the password.
